model/llava-llama-3-8b-finetune filter=lfs diff=lfs merge=lfs -text
model/llava_llama3_8b_instruct_qlora_clip_vit_large_p14_336_e4_gpu8_finetune/llm_adapter/adapter_model.bin filter=lfs diff=lfs merge=lfs -text
model/llava_llama3_8b_instruct_qlora_clip_vit_large_p14_336_e4_gpu8_finetune/projector/pytorch_model.bin filter=lfs diff=lfs merge=lfs -text
model/llava_llama3_8b_instruct_qlora_clip_vit_large_p14_336_e4_gpu8_finetune/visual_encoder/pytorch_model.bin filter=lfs diff=lfs merge=lfs -text
